*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;
    color: rgb(250, 250, 250);
    list-style: none;
}
body{
    background-color: #1e1e1e;
    overflow-x: hidden;
}
header{
    height: 100vh;
    width: 100%;
}
ul.navbar li.nav a{
    color: aliceblue;
}
.navbar-brand{
    font-size: 19px;
    color: rgb(207, 137, 7);
}
.nav-item{
    padding-top: 20px;
    padding-bottom: 20px;
    background:#1e1e1e;
    margin-left: 40px;
    position: relative;
    color: aliceblue;  
}
.nav-link{
    color: aliceblue;
}
.nav-link::after{
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0px;
    background-color: orange;
    width: 0%;
    height: 3px;
    transition: 0.4s ease-in;
}
.nav-item:hover .nav-link::after{
    width: 100%;
}
.nav-link:hover{
    color: orange;
}
.nav-link:active{
    color: orange;
}
.bi{
    font-size: 40px;
    color: orange;
}
.nav-btn{
    display:inline-flexbox;
    padding: 8px 30px;
    border: 1px solid rgb(10, 143, 209);
    color: white;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 500;
    background-color: rgb(10, 143, 209);
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.nav-btn:hover{
    background-color: transparent;
    color: orange;
    border: 1px solid orange;
}
a{
    color: rgb(255, 255, 255) ;
    font-size: 17px;  
}
.content-home-2{
    height: 90vh;
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.home-hedding{
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
}
.home-spam{
    color: orange;
}
.para-home{
    font-size: 17px;
    font-weight: 500;
    color: rgb(255, 255, 255);;
    max-width: 400px;
    line-height: 25px;
}
.home-link{
    display:inline-flexbox;
    text-decoration: none;
    padding: 8px 30px;
    color: white;
    border-radius: 50px;
    font-size: 17px;
    border: 1px solid rgb(10, 143, 209);
    background-color: rgb(10, 143, 209);
    font-weight: 500;  
    transition: 0.2s ease;
}
.btn-2{
    border: 1px solid rgb(10, 143, 209);
    background: transparent;
    color:  rgb(10, 143, 209);   
}
.home-link:hover{
    background-color: transparent;
    color: orange;
    border: 1px solid orange;
}
.img-home{
    margin-right: 20px;
    width: 580px;
}
/* about css-------------------------------------------- */
.about-us-container{
    width: 100%;
    height: 80vh;
}
.about-us{
    width: 100%;
    height: 450px;
    background-color: rgb(73, 73, 73);
    margin-top: 100px;
    position: relative;
}
.content-about{
    padding: 20px 35px;
}
.hedding-about{
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
    color: orange;
    margin: 10px 0px;
    margin-bottom: 35px;
    position: relative;
}
.hedding-about::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: orange;
    width: 46px;
    height: 2px;
}
.para-about{
    font-size: 17px;
    font-weight: 500;
    color: white;
}
.link-about{
    text-decoration: none;
    text-transform: uppercase;
    color: orange;
    border: 1px solid orange;
    display: inline;
    font-size: 17px;
    padding: 8px 22px;
    z-index: 22;
}
.link-about:hover{
    color: white;
}
.span-about{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: orange;
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: 0.4s ease-in;
}
.link-about:hover .span-about .bi-about{
    width: 100%;
}
.bi-about{
    font-size: 17px;
    color: orange;
    padding-left: 5px;
}
.bi-arrow-right-circle:hover{
    color: white;
}
.about-image{
    width: 500px;
    height: auto;
    position: absolute;
    top: -28px;
    right: 40px;
}
/* product-catagory css-------------------------------------------- */
.product-category{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.product-hedding{
    font-size: 40px;
    font-weight: 600;
    color: orange;
    margin-bottom: 80px;
    align-items: center;
    position: relative;
    margin-top: 150px;
}
.product-hedding::after{
    content: '';
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: orange;
    width: 56px;
    height: 2px;
}
.card-product{
    padding: 14px 10px;
    background-color: #323232;
    height: 550px;
}
.img-card{
    width: 320px;
    height: auto;
}
.card-title{
    font-size: 20px;
    color: orange;
    width: 100%;
    border-bottom: 1px solid orange;
    padding: 5px 0px;
    margin-bottom: 20px !important;   
}
.card-text{
    color: white;
    font-size: 17px;
    line-height: 22px;
}
.btn-product-ctg{
    color: orange;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
}
.btn-product-ctg:hover{
    color: white;
}
.btn-prev{
    padding-right: 120px;
}
.btn-next{
    padding-left: 120px;
}
/* Testimonial secton css-------------------------------------------- */
.Testimonial{
    width: 100%;
    height: 100vh;
    padding: 20px;
    margin-top: 60px;
}
.Testimonial-hedding{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 150px;
    margin-bottom: 50px;
    align-items: center;
    position: relative;
}
.Testimonial-hedding .styling{
    color: orange;
    font-size: 40px;
    font-weight: 600;
}
.para-testimonial{
    color: rgb(255, 255, 255);
    font-size: 17px;
    letter-spacing: 1px;
    text-align: center;
    max-width: 750px;
    margin: 12px auto;
}
.container-cient{
    margin: 100px 0px 20px 0px;
}
.container-content{
    width: 90%;
    height: 400px;
    background-image: linear-gradient(145deg, orange 0%, rgb(220, 61, 61) 100%);
    margin: auto;
    padding: 30px;
    text-align: end;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.image-client{
    position: absolute;
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    border-radius: 50px !important; 
}
.images-client{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow:#1e1e1e;
}
.rating{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 12px 0px;
}
.bi-star-fill{
    font-size: 14px;
    color: white;
    letter-spacing: 10px;
}
.client-name{
    font-size: 25px;
    margin-top: 20px;
    color: white;
    text-align: center;    
}
.para-client{
    font-size: 17px;
    color: white;
    text-align: center;
    margin: 26px 0px 15px 0px;
}
.profession{
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 26px 0px 15px 0px;
}
.btn2-prev{
    padding-right: 155px;
}
.btn2-next{
    padding-left: 155px;
}
/* Foem Section CSS-------------------------------------------- */
.contact-form{
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.form-hedding{
    padding-top: 30px;
    padding-bottom: 50px;
}
.heddig-contact{
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-top: 150px;
    margin-bottom: 50px;
    align-items: center;
    position: relative;
}
.heddig-contact::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -8px;
    background-color: rgb(255, 255, 255);
    width: 56px;
    height: 2px;
}
.form-origin{
    width: 100%;
    height: 450px;
    background-color: rgb(73, 73, 73);
    padding: 50px 30px;
    border-radius: 10px;
}
.form-origin input{
    background-color: transparent;
    font-size: 17px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    padding: 16px 22px;
    margin-bottom: 40px;
}
::placeholder{
    color: white !important;
}
.form-origin textarea{
    height: 200px;
    width: 575px;
    padding: 20px;
    background-color: transparent;
}
.btn-contact{
    display: inline-block;
    font-size: 17px;
    border-radius: 50px;
    padding: 7px 25px;
    border: none;
    outline: none;
    background-color: orange;
    text-decoration: none;
    margin: 20px 0px;
    border: 2px solid orange;
}
.btn-contact:hover{
    background-color: transparent;
    color: orange;
    border: 1px solid orange;
}
.hedding-section-containt{
    padding-bottom: 30px;
}
.contact-containt{
    width: 100%;
    height: 100%;
    padding: flex;
    padding: 8px 18px;
    justify-content: center;
    flex-direction: column;
}
.styling-contact{
    font-size: 35px;
    color: orange;
    font-weight: 600px;
}
.social-link{
    padding-top: 30px;
}
.bi2{
    font-size: 20px;
    padding-left: 20px;
}
.container-flex{
    padding-top: 100px;
}
footer{
    background-color: black;
    margin: 0px 0px !important;
    height: 15vh;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.para-footer{
    padding-top: 10px;
    text-align: center;
}